pytest==7.2.1
requests==2.31.0
fastapi==0.97.0
uvicorn==0.22.0
SQLAlchemy==2.0.16
geopy==2.3.0
python-dotenv==1.0.0
alembic==1.11.1
pandas==2.0.2
requests-cache==1.0.1
httpx==0.24.1
mysql-connector-python==8.0.33